/*Strawford used for general text*/
@font-face {
    font-family: 'Strawford';
    src: url('../css/fonts/strawford-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Strawford';
    src: url('../css/fonts/strawford-regular-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Strawford';
    src: url('../css/fonts/strawford-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Strawford';
    src: url('../css/fonts/strawford-regularitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*Ade font, used for logo and some headers*/
@font-face {
    font-family: 'Ade';
    src: url('../css/fonts/AdeDisplay.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ade';
    src: url('../css/fonts/AdeDisplay.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ade';
    src: url('../css/fonts/AdeDisplay.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ade';
    src: url('../css/fonts/AdeDisplay.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}



body, html {
    margin: 0;
    padding: 0;
    /*font-family: 'Ade', 'Strawford';*/
    font-size: 10px;
    color: white;
}

body {
    position: relative;
    background-color: black;
    height: 5000px;
}

.background {
    margin: 0;
    width: 100%;
    background-image: url('../images/header-background.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: background-color 0.5s ease;
    height: 100vh;
}

nav {
    position: relative;
    z-index: 1;
    padding: 5vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
}

#logo {
    font-family: 'Ade';
    position: absolute;
    padding-left: 2vw;
    font-size: 3.2rem;
    color: white;
}

.links {
    position: absolute;
    width: 50vw;
    font-family: 'Strawford';
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 25vw;
    font-size: 1.5rem;
}

.links a {
    color: white;
}

.header-main {
    display: flex;
    justify-content: space-between;
    margin: 30vh 5vw 0 2vw;
}

.title-main {
    display: flex;
    flex-direction: column;
}

.green-main-gaia-text {
    font-family: 'Ade';
    color: #6e9b42;
    font-size: 28rem;
    margin: 0;
    line-height: 0.7;
    letter-spacing: -0.02em;
}

.s-m-main-text-div{
    display: flex;
}

.small-main-text {
    font-family: 'Strawford';
    margin: 0;
    font-size: 2.4rem;
}
.medium-main-text {
    font-family: 'Strawford';
    font-style: italic;
    font-size: 12.4rem;
    margin: 0;
    line-height: 0.85;
}

.sub-text-main {
    font-family: 'Strawford';
    font-size: 3.3rem;
    margin: 0;
}

.left-side-sub-text {

}

.middle-side-sub-text {

}

.right-side-sub-text {
    text-align: right;
}











